version: '3.8'

services:
  postgres:
    image: postgres:15.3-alpine
    environment:
      POSTGRES_USER: default
      POSTGRES_PASSWORD: default
      POSTGRES_DB: default
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7.0.12
    command: redis-server --requirepass default
    environment:
      REDIS_PASSWORD: default
    # Remover mapeamento de porta se houver conflito com Redis local
    # ports:
    #   - "6379:6379"
    restart: unless-stopped


  django:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./static:/app/static  # monta o diretório de static local para desenvolvimento
      - media_volume:/app/media
      - .:/app                 # opcional: monta código local para hot reload
    restart: unless-stopped

volumes:
  pgdata:
  media_volume:
